<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li> <a href="/"><img src="/pic/anagram.gif" alt="logo" style="width:75px;height:35px;"></a></li>
<li><a href="/">Home</a></li>
<!-- <li><a href="/about">About</a></li> -->
<!-- <li><a href="/research">Research</a></li> -->
<li><a href="/Balloons">Balloons</a></li>
<!-- <li><a href="/outreach">Outreach</a></li> -->
<!-- <li><a href="/cv">CV</a></li> -->
<!-- <li><a href="/poster">Posters</a></li> -->
<!-- <li><a href="/hireme">Hire Me!</a></li> -->
<!-- <li><a href="/blog">Blog</a></li> -->
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:cvolpert@astro.umd.edu">email</a></li>
   <li><a href="https://github.com/particlerover">github.com/particlerover</a></li>
   </ul>
  </footer>
  </body>

</html>
